@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@400;700;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Text:wght@700&display=swap');

.card {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    background-color: black;
    color:white;
}

.card > img{
    width: 400px;
    height:300px;
    border-radius: 20px 20px 0 0;
}

.divider {
    width: 100%;
    background-color: white;
    height: 1px;
}

.card__content{
    padding: 0 15px 0 15px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px
}

.card__content > h1{
    font-family: 'Big Shoulders Text';
}


.card-desc{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.heavy{
    font-family: 'Sofia Sans';
    font-size: large;
}

.card-buttons{
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: space-between;
}

.fa-circle-check{
    color: green;
}

.fa-bookmark {
    color:#EA8282
}

.fa-circle-xmark{
    color: yellow;
}

.row-wise{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.card-bookmark{
    width: 100%;
    justify-content: flex-end;
    transform: translateX(-10%);
}

.card-seatavail{
    color:yellow;
    width: 100%;
}

.card-register{
    color:green
}

.btn{
    cursor: pointer;
}